@font-face {
    font-family: 'Open Sans';
    src: url('../assets/fonts/OpenSans-Medium.ttf');
    src: url('../assets/fonts/OpenSans-Light.ttf');
    src: url('../assets/fonts/OpenSans-Regular.ttf');
}
@media (min-width: 300px) {
  .main-image {
    width: 374px;
    height: 431px;
    background-size: 343px 174px;
  }
  .black {
    color: black;
  }
  .blue {
    color: #005DB4;
    border: 1px solid #005DB4;
  }
  .mob-column {
    flex-direction: column;
  }
  h1 {
    margin-top: 174px;
    font-weight: 500;
font-size: 30px;
line-height: 120%;
text-align: center;
  }
}
@media (min-width: 1024px) {
    .mob-column {
        flex-direction: row;
    }
    .blue {
        color: white;
    }
    .main-image {
        width: 712px;
        height: 300px;
        background-size: 712px 300px;
    }
    .black {
        color: white;
      }
    form {
        margin-right: 39px;
    }
    .sales {
        height: 140px;
        width: 231px;
    }
    .percent-image {
        width: 111px;
        height: 95px;
        margin: 11px;
    }
    .border {
        width: 211px;
        height: 110px;
    }
    .card {
        justify-content: space-between;
        align-items: center;
        padding-left: 20px;
    }
    .card-img {
        width: 45%;
        height: auto;
    }
    .img-1 {
        width: 40%;
    }
    .news {
        margin-bottom: 21px;
        padding-left: 15px;
        background-size: 231px 140px;
    }
   .more {
    margin-bottom: 30px;
   }
   h1 {
    margin-top: 35px;
    text-align: left;
   }
   .column {
    margin-left: 20px;
   }
   .card-min {
    margin-top: 10px;
    margin-bottom: 10px;
    }
  .margin-left {
    margin-left: 20px;
    }
  .percent-image {
    width: 40%;
    height: auto;
  }
}
@media (min-width: 1600px) {
    .mob-column {
        flex-direction: row;
    }
    h5 {
        margin-left: 46px;
    }
    .black {
        color: white;
      }
    form {
        margin-right: 185px;
    }
    .main-image {
        width: 1173px;
        height: 400px;
        background-size: 1193px 378px;
    }
    .sales {
        height: 185px;
        width: 378px;
    }
    .percent-image {
        width: 156px;
        height: 134px;
        margin-right: 45px;
    }
    .border {
        height: 140px;
        width: 358px;
    }
    .card {
        justify-content: space-between;
        align-items: center;
    }
    .news {
        margin-bottom: 31px;
        padding-left: 35px;
        background-size: 378px 185px;
        height: 185px;
        width: 343px;
    }
    .more {
        margin-bottom: 33px;
    }
    h1 {
        margin-top: 67px;
        text-align: left;
    }
    .column {
        margin-left: 29px;
    }
    .card-min {
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .margin-left {
        margin-left: 30px;
    }

}
.flex {
    display: flex;
}
    .more {
        border: 1px solid #EAEAEA;
        border-radius: 5px;
        padding: 12px 30px;
    }
.cards {
    margin-bottom: 191px;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.wrap {
    flex-wrap: wrap;
    justify-content: space-between;
}

.border {
    border: 1px solid #EAEAEA;
border-radius: 10px;

}
.news {
  /*  background: linear-gradient(90deg, #EEEEEE 42.06%, rgba(238, 238, 238, 0) 60.05%), url(../../images/news.png);*/
    background-image: url(../../images/news.png);
    background-repeat: no-repeat; 
    flex-direction: column;
    border-radius: 10px;
}
.main-image {
    background-image: url(../../images/Frame.png);
    background-repeat: no-repeat;
    flex-direction: column;
    color: white;
    align-items: start;
}
h1 {
    font-style: normal;
font-weight: 600;
font-size: 32px;
line-height: 130%;
}
h3 {
    font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 140%;
}
h5 {
    font-family: 'Open Sans';
font-style: normal;
    font-weight: 500;
font-size: 16px;
line-height: 130%;
}

h4 {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 140%;
}

h2 {
    font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 130%;
}

.column {
    flex-direction: column;
    justify-content: space-between;
}

.sales {
    background: linear-gradient(270deg, #E9E9E7 32.28%, rgba(233, 233, 231, 0) 45.5%), #F4F3F1;
    border-radius: 15px;
    align-items: center;
}

.flex-column {
    flex-direction: column;
}

