@font-face {
    font-family: 'Open Sans';
    src: url('../assets/fonts/OpenSans-Medium.ttf');
    src: url('../assets/fonts/OpenSans-Light.ttf');
    src: url('../assets/fonts/OpenSans-Regular.ttf');
}

.flex {
    display: flex;
}

.cards {
    margin-left: 160px;
    margin-right: 160px;
    margin-bottom: 191px;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.border {
    border: 1px solid #EAEAEA;
border-radius: 10px;
}

h5 {
    font-family: 'Open Sans';
font-style: normal;
    font-weight: 500;
font-size: 16px;
line-height: 130%;
}

h4 {
    font-family: 'Open Sans';
font-style: normal;
    font-weight: 300;
font-size: 16px;
line-height: 140%;
}

.main-image {
    max-width: 1193px;
}

.sales {
    background: linear-gradient(270deg, #E9E9E7 32.28%, rgba(233, 233, 231, 0) 45.5%), #F4F3F1;
border-radius: 15px;
}

.percent-image {
    width: 156px;
    height: 134px;

}
