@font-face {
    font-family: 'Open Sans';
    src: url(../assets/fonts/OpenSans-Medium.ttf);
    src: url(../assets/fonts/OpenSans-Light.ttf);
    src: url(../assets/fonts/OpenSans-Regular.ttf);
}
@media (min-width:1024px) {
 nav {
/*    padding-left: 20px;
    padding-right: 20px; */
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
  }
  p {
    margin-right: 18px;
  }
  .fs10 {
    font-size: 10px;
  }
}
@media (min-width: 1400px) {
  nav {
/*    padding-left: 160px;
    padding-right: 160px;*/
    font-size: 14px;
    font-weight: 400;
    line-height: 19px; 
  }
  p{
    margin-right: 31px;
  }
  .fs10 {
    font-size: 16px;
  }
}
body {
    font-family: 'Open Sans';
}

.flex{
    display: flex;
}

.space-between {
    justify-content: space-between;
}

.space-around {
    justify-content: space-around;
}

p {

    white-space: nowrap;
}

nav {
    background-color: #E8EEF1;
    font-style: normal;

}

.email {
    color: #005DB4;
}
.chevron {
    margin-left: 5px;
}