@font-face {
    font-family: 'Open Sans';
    src: url(../assets/fonts/OpenSans-Medium.ttf);
}

.middle {
    margin-top: 28px;
    margin-bottom: 28px;
}

.shoop-emblem {
    background-color: #005DB4;
    color: white;
    height: 65px;
    width: 181px;
}

.catalog {
    background-color: #FE5603;
    color: white;
    margin-left: 30px;
    border-radius: 7px;
    border: none;
}